body{
font-family:"Albert Sans";
background-color:whitesmoke;
font-size:100%;
color:black;
min-height: 100vh;
}

.menu {
position: fixed;
top: 0;
background-color:whitesmoke
}

.Intro{
color:darkslategray;
text-decoration:underline;
text-align:center;
font-family:arial;
}

.subh{
color:darkslategray;
font-family:arial;
text-decoration:underline
}


tr:nth-child(even) {
    background-color: #D6EEEE;
  }